<!DOCTYPE html>
<html lang="en" style="positio">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IPFS Contributors Finder</title>

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="static/datatables/css/dataTables.bootstrap4.min.css"/>

    <style>
        .center-block {
            display: table; /* Instead of display:block */
            margin-left: auto;
            margin-right: auto;
        }

        .text-danger {
            color: red;
        }

        html {
            position: relative;
            min-height: 100%;
        }

        body {
            margin-bottom: 60px; /* Margin bottom by footer height */
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px; /* Set the fixed height of the footer here */
            line-height: 60px; /* Vertically center the text there */
            background-color: #fa7979;
        }

    </style>

</head>

<body>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5" style="color:#fa7979" >IPFS Contributors Finder</h1>
            <p class="lead" id="lead-text">Insert your Content ID and start downloading it!</p>
            <button id="back-home-button" type="button" class="btn btn-info" style="display: none">Go back home</button>
            <p class="lead" id="file-info-text" style="display: none"></p>
        </div>
    </div>
    <div class="row justify-content-center" id="form-row">
        <div class="col-lg-auto">

            <form class="form-inline" action="javascript:void(0);">

                <div class="input-group mb-2 mr-sm-2">
                    <input type="text" class="form-control" placeholder="CID" id="cid">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="random-button">Example CID</button>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary mb-2" id="download-button">
                    <span id="download-button-text">Download!</span>
                    <span class="spinner-border spinner-border-sm" role="status" id="download-button-spinner"
                          style="display: none"></span>
                </button>

            </form>
            <span class="error text-danger" style="display: none"
                  id="download-error">An error occured! please try again later! </span>

        </div>
    </div>

    <!-- progress bar -->
    <div class="row d-flex" id="loading-row" style="display: none">
        <div class="col-lg-10 text-center">
            <div class="progress" id="progress-div" style="height:100%; display:none">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                     aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    <large class="justify-content-center d-flex w-100" id="progress-bar-text">Downloading..</large>
                </div>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <button type="button" class="btn btn-danger" id="cancel-download-button" style="display: none">
                Cancel Download
                <span class="spinner-border spinner-border-sm" role="status" id="cancel-download-button-spinner"
                      style="display: none"></span>
            </button>
        </div>
    </div>


    <div class="row" id="result-row" style="margin-top:15px; display:none">
        <div class="col-md-6">
            <figure class="highcharts-figure">
                <div id="received_bytes_chart"></div>
            </figure>
        </div>

        <div class="col-md-6">
            <figure class="highcharts-figure">
                <div id="country_code_chart"></div>
            </figure>
        </div>

        <div class="col-md-6">
            <figure class="highcharts-figure">
                <div id="download-speed-chart"></div>
            </figure>
        </div>
        <div class="col-md-6">
            <figure class="highcharts-figure">
                <div id="upload-speed-chart"></div>
            </figure>
        </div>
        <div class="col-md-12" id="final-table-div" style="margin-bottom:20px; display: none">
            <table id="final-table" class="table table-striped" style="width:100%">
                <thead>
                <tr>
                    <th>Peer ID</th>
                    <th>Bytes Received</th>
                    <th>IP Address</th>
                    <th>Country</th>
                    <th>City</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>


</div>
<footer class="footer">
    <div class="container">
        <span>IPFS Contributors Finder</span>
        <span style="float:right">developed by Giacomo Frigo (g.frigo@studenti.unipi.it) </span>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="static/jquery/jquery.min.js"></script>
<script src="static/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="static/highcharts/highcharts.js"></script>
<script src="static/highcharts/highcharts-more.js"></script>
<script src="static/highcharts/modules/solid-gauge.js"></script>

<script type="text/javascript" src="static/datatables/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="static/datatables/js/dataTables.bootstrap4.min.js"></script>

<script>

    var received_bytes_chart;
    var country_code_chart;
    var download_speed_chart;
    var upload_speed_chart;

    $(document).ready(() => {
        $('#cid').val("")
        //[ "sqQLuvuJ", "pkjrAEYn", "Zin6ut1W", "EaidtFVi", "FreJT9JN" ]
        //[ 313, 4468, 17201, 261, 1162969 ]

        received_bytes_chart = Highcharts.chart('received_bytes_chart', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Bytes Received'
            },
            xAxis: {
                type: "category",
                labels: {enabled: false}
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Bytes'
                }
            },
            tooltip: {
                valueSuffix: ' bytes'
            },
            credits: {
                enabled: false
            },
            series: []
        });

        country_code_chart = Highcharts.chart('country_code_chart', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Country Code Chart'
            },
            tooltip: {
                pointFormat: 'Peers from {point.name}: <b>{point.percentage:.1f}%</b>'
            },
            credits: {
                enabled: false
            },
            series: [{
                name: '# peers',
                colorByPoint: true,
                data: []
            }]
        });

        download_speed_chart = Highcharts.chart('download-speed-chart', {
            chart: {
                type: 'solidgauge'
            },
            title: null,

            pane: {
                center: ['50%', '60%'],
                size: '100%',
                startAngle: -120,
                endAngle: 120,
                background: {
                    backgroundColor:
                        Highcharts.defaultOptions.legend.backgroundColor || '#EEE',
                    innerRadius: '60%',
                    outerRadius: '100%',
                    shape: 'arc'
                }
            },
            exporting: {
                enabled: false
            },
            tooltip: {
                enabled: false
            },
            // the value axis
            yAxis: {
                min: 0,
                max: 10 * 1024 * 1024,
                stops: [
                    [1, '#60e7a9']
                ],
                lineWidth: 0,
                tickWidth: 0,
                minorTickInterval: null,
                tickAmount: 2,
                title: {
                    text: '<p class="lead-text">Download speed</p>',
                    y: -120,
                    useHTML: true
                },
                labels: {
                    y: 16
                }
            },
            credits: {
                enabled: false
            },

            plotOptions: {
                solidgauge: {
                    dataLabels: {
                        y: 5,
                        borderWidth: 0,
                        useHTML: true
                    }
                }
            },
            series: [{
                name: 'Speed',
                data: [{y: 0, name: 'B/s', converted: 0}],
                dataLabels: {
                    format:
                        '<div style="text-align:center">' +
                        '<span style="font-size:25px">{point.converted}</span><br/>' +
                        '<span style="font-size:12px;opacity:0.4">{point.name}</span>' +
                        '</div>'
                },
                tooltip: {
                    valueSuffix: ' {point.name}'
                }
            }]
        })


        upload_speed_chart = Highcharts.chart('upload-speed-chart', {
            chart: {
                type: 'solidgauge'
            },

            title: null,

            pane: {
                center: ['50%', '60%'],
                size: '100%',
                startAngle: -120,
                endAngle: 120,
                background: {
                    backgroundColor:
                        Highcharts.defaultOptions.legend.backgroundColor || '#EEE',
                    innerRadius: '60%',
                    outerRadius: '100%',
                    shape: 'arc'
                }
            },

            exporting: {
                enabled: false
            },

            tooltip: {
                enabled: false
            },

            // the value axis
            yAxis: {
                min: 0,
                max: 3 * 1024 * 1024,
                stops: [
                    [1, '#a38be3']
                ],
                lineWidth: 0,
                tickWidth: 0,
                minorTickInterval: null,
                tickAmount: 2,
                title: {
                    text: '<p class="lead-text">Upload speed</p>',
                    y: -120,
                    useHTML: true
                },
                labels: {
                    y: 16
                }
            },
            credits: {
                enabled: false
            },

            plotOptions: {
                solidgauge: {
                    dataLabels: {
                        y: 5,
                        borderWidth: 0,
                        useHTML: true
                    }
                }
            },
            series: [{
                name: 'Speed',
                data: [{y: 0, name: 'B/s', converted: 0}],
                dataLabels: {
                    format:
                        '<div style="text-align:center">' +
                        '<span style="font-size:25px">{point.converted}</span><br/>' +
                        '<span style="font-size:12px;opacity:0.4">{point.name}</span>' +
                        '</div>'
                },
                tooltip: {
                    valueSuffix: ' {point.name}'
                }
            }]
        })


    })

    let all_contributors = [];

    let check_download_status_interval = null;
    let find_contributors_interval = null;
    let final_table = $('#final-table').DataTable({
            "columns": [
                {"data": "peer_id"},
                {"data": "received_bytes"},
                {"data": "ip_address"},
                {"data": "country_name"},
                {"data": "city"},
            ],
            "order": [[1, "desc"]]
        });

    let download_speeds = [];
    let upload_speeds = [];

    function bytes_converter(size) {
        // 2**10 = 1024
        let power = 2 ** 10
        let n = 0
        let power_labels = {0: '', 1: 'K', 2: 'M', 3: 'G', 4: 'T'}
        while (size > power) {
            size = size / power
            n = n + 1
        }
        return {"value": size, "unit": power_labels[n] + 'B/s'}
    }

    function create_final_table(json) {
        console.log("populating final table")
        final_table.clear();
        final_table.rows.add( json ).draw();

        $('#final-table-div').show()
    }

    function check_download_status() {

        $.ajax({
            url: "/api/download/status",
            method: 'GET',
            success: (data) => {
                console.log(data)
                $('#progress-bar-text').text("Downloading..")
                $('#progress-bar-text').removeClass("text-danger")
                if (data.status !== 'alive') {
                    console.log("download not alive")

                    $('#form-row').hide()
                    $('#loading-row').hide()
                    $('#progress-div').hide()
                    $('#result-row').show()
                    $('#back-home-button').show()
                    $('#lead-text').text("Download completed. Here some result.")
                    $('#download-error').hide()
                    $('#cancel-download-button').hide()

                    clearInterval(check_download_status_interval)
                    clearInterval(find_contributors_interval)

                    create_final_table(all_contributors)

                    //update speed graph wit the avg speed
                    const download_sum = download_speeds.reduce((a, b) => a + b, 0);
                    const download_avg = (download_sum / download_speeds.length) || 0;

                    const upload_sum = upload_speeds.reduce((a, b) => a + b, 0);
                    const upload_avg = (upload_sum / upload_speeds.length) || 0;


                    let conversion = bytes_converter(download_avg)
                    download_speed_chart.series[0].data[0].update({
                        y: download_avg,
                        name: conversion['unit'],
                        converted: conversion['value'].toFixed(2)
                    })
                    conversion = bytes_converter(upload_avg)
                    upload_speed_chart.series[0].data[0].update({
                        y: upload_avg,
                        name: conversion['unit'],
                        converted: conversion['value'].toFixed(2)
                    })

                    download_speed_chart.series[0].yAxis.setTitle({text: '<p class="lead-text">Avarage download speed</p>', y: -120, useHTML: true}) ;
                    upload_speed_chart.series[0].yAxis.setTitle({text: '<p class="lead-text">Avarage upload speed</p>', y: -120, useHTML: true});

                    //***********

                } else {
                    //update array for avg final computation
                    download_speeds.push(data.download_speed)
                    upload_speeds.push(data.upload_speed)

                    let conversion = bytes_converter(data.download_speed)
                    download_speed_chart.series[0].data[0].update({
                        y: data.download_speed,
                        name: conversion['unit'],
                        converted: conversion['value'].toFixed(2)
                    })
                    conversion = bytes_converter(data.upload_speed)
                    upload_speed_chart.series[0].data[0].update({
                        y: data.upload_speed,
                        name: conversion['unit'],
                        converted: conversion['value'].toFixed(2)
                    })
                }
            },
            error: (xhr, data) => {
                $('#progress-bar-text').text("Error getting info from the daemon! " + xhr.responseText)
                $('#progress-bar-text').addClass("text-danger")
            }
        })
    }


    function find_contributors() {
        $.ajax({
            url: "/api/stats/contributors",
            method: 'GET',
            success: (data) => {
                let peer_ids = []
                let received_bytes = []
                let country_code = []
                let country_code_n = []
                let country_code_idx = null;

                $.each(data, (idx, item) => {

                    //update all_contributors
                    let updated = false
                    $.each(all_contributors, (contributor_idx, contributor) => {
                        if (contributor.peer_id === item.peer_id) {
                            contributor.received_bytes = item.received_bytes
                            updated = true
                        }
                    })

                    if (!(updated)) {
                        all_contributors.push(item)
                    }
                })

                $.each(all_contributors, (idx, item) => {

                    //update graph data structures
                    peer_ids.push("..." + item.peer_id.slice(-7))
                    received_bytes.push(item.received_bytes)

                    if ('country_code' in item) {
                        country_code_idx = $.inArray(item.country_code, country_code)
                        if (country_code_idx === -1) {
                            country_code.push(item.country_code)
                            country_code_n.push(1)
                        } else {
                            country_code_n[country_code_idx]++;
                        }
                    }

                })

                //update graphs
                $.each(peer_ids, (idx, item) => {
                    let updated = false
                    for (let index in received_bytes_chart.series) {
                        if (received_bytes_chart.series[index].name === item) {
                            received_bytes_chart.series[index].data[0].update({y: received_bytes[idx]})
                            updated = true
                            break;
                        }
                    }
                    if (!(updated)) {
                        received_bytes_chart.addSeries({name: item, data: [received_bytes[idx]]})
                    }
                })

                $.each(country_code, (idx, item) => {
                    let updated = false
                    for (let index in country_code_chart.series[0].data) {
                        if (country_code_chart.series[0].data[index].name === item) {
                            country_code_chart.series[0].data[index].update({y: country_code_n[idx]})
                            updated = true
                            break;
                        }
                    }
                    if (!(updated)) {
                        country_code_chart.series[0].addPoint({name: item, y: country_code_n[idx]})
                    }
                })

            },
            error: () => {
                $('#contributors-error').show()
            }
        })

    }


    $('#random-button').click(() => {
        //44mb file
        //$('#cid').val("QmeQtZfwuq6aWRarY9P3L9MWhZ6QTonDe9ahWECGBZjyEJ")
        //internet files -> 200mb
        $('#cid').val("QmbsZEvJE8EU51HCUHQg2aem9JNFmFHdva3tGVYutdCXHp")
    })

    $('#download-button').click(() => {

        if($('#cid').val() === ''){
            $('#download-error').show()
            $('#download-error').text("The CID is required")
            $('#download-button-text').text("Download!")
            $('#download-button-spinner').hide()
            $('#file-info-text').hide()
            return;
        }else{
            $('#download-error').hide()
        }

        $('#download-button-text').text("Loading..")
        $('#download-button-spinner').show()

        $.ajax({
            url: "/api/download/" + $('#cid').val(),
            method: 'GET',
            success: (data) => {
                $('#form-row').hide()
                $('#lead-text').text("Downloading " + $('#cid').val())
                $('#loading-row').show()
                $('#progress-div').show()
                $('#result-row').fadeIn()
                $('#download-error').hide()
                $('#cancel-download-button').show()

                if (data.obj_type != 'None' && data.obj_dimension != 'None') {
                    $('#file-info-text').text("Type: " + data.obj_type + ", Dimension: " + data.obj_dimension + " Bytes")
                    $('#file-info-text').show()
                }

                check_download_status_interval = setInterval(check_download_status, 5000);
                find_contributors_interval = setInterval(find_contributors, 5000);
            },
            error: (xhr, data) => {
                $('#download-error').show()
                $('#download-error').text(xhr.responseText)
                $('#download-button-text').text("Download!")
                $('#download-button-spinner').hide()
                $('#file-info-text').hide()
            }
        })


    })

    $('#back-home-button').click(() => {
        window.location.href = "/"
    })

    $('#cancel-download-button').click(() => {
        $('#cancel-download-button-spinner').show()
        $.ajax({
            url: "/api/stop/" + $('#cid').val(),
            method: "GET",
            error: (xhr, data) => {
                $('#progress-bar-text').text("Something goes wrong stopping the download! " + xhr.responseText)
                $('#progress-bar-text').addClass("text-danger")
                clearInterval(check_download_status_interval)
                clearInterval(find_contributors_interval)
            }
        })
    })


</script>

</body>

</html>
