<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IPFS Contributors Finder</title>

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .center-block {
            display: table; /* Instead of display:block */
            margin-left: auto;
            margin-right: auto;
        }

        .text-danger {
            color: red;
        }
    </style>

</head>

<body>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5">IPFS Contributors Finder</h1>
            <p class="lead" id="lead-text">Insert your Content ID and start downloading it!</p>
            <button id="back-home-button" type="button" class="btn btn-info" hidden="true">Go back home</button>
            <p class="lead" id="file-info-text" hidden="true"></p>
        </div>
    </div>
    <div class="row justify-content-center" id="form-row">
        <div class="col-lg-auto">

            <form class="form-inline" action="javascript:void(0);">

                <div class="input-group mb-2 mr-sm-2">
                    <input type="text" class="form-control" placeholder="CID" id="cid">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="random-button">Random CID</button>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary mb-2" id="download-button">
                    <span id="download-button-text">Download!</span>
                    <span class="spinner-border spinner-border-sm" role="status" id="download-button-spinner"
                          hidden="true"></span>
                </button>

            </form>
            <span class="error text-danger" hidden="true"
                  id="download-error">An error occured! please try again later! </span>

        </div>
    </div>

    <!-- progress bar -->
    <div class="row d-flex" id="loading-row" hidden="true">
        <div class="col-lg-10 text-center">
            <div class="progress" id="progress-div" style="height:100%" hidden="true">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                     aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    <large class="justify-content-center d-flex w-100" id="progress-bar-text">Downloading..</large>
                </div>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <button type="button" class="btn btn-danger" id="cancel-download-button" hidden="true">
                Cancel Download
                <span class="spinner-border spinner-border-sm" role="status" id="cancel-download-button-spinner"
                      hidden="true"></span>
            </button>
        </div>
    </div>


    <div class="row" id="result-row" style="margin-top:15px;" hidden="true">
        <div class="col-md-6">
            <figure class="highcharts-figure">
                <div id="received_blocks_chart"></div>
            </figure>
        </div>

        <div class="col-md-6">
            <figure class="highcharts-figure">
                <div id="country_code_chart"></div>
            </figure>
        </div>

        <div class="col-md-6">
            <figure class="highcharts-figure">
                <div id="download-speed-chart"></div>
            </figure>
        </div>
        <div class="col-md-6">
            <figure class="highcharts-figure">
                <div id="upload-speed-chart"></div>
            </figure>
        </div>
    </div>


</div>

<!-- Bootstrap core JavaScript -->
<script src="static/jquery/jquery.min.js"></script>
<script src="static/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>

<script>

    var received_blocks_chart;
    var country_code_chart;
    var donwload_speed_chart;

    $(document).ready(() => {
        $('#cid').val("")
        //[ "sqQLuvuJ", "pkjrAEYn", "Zin6ut1W", "EaidtFVi", "FreJT9JN" ]
        //[ 313, 4468, 17201, 261, 1162969 ]

        received_blocks_chart = Highcharts.chart('received_blocks_chart', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Received blocks'
            },
            xAxis: {
                type: "category",
                labels: {enabled: false}
            },
            yAxis: {
                min: 0
            },
            tooltip: {
                valueSuffix: ' blocks'
            },
            credits: {
                enabled: false
            },
            series: []
        });

        country_code_chart = Highcharts.chart('country_code_chart', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Country Code Chart'
            },
            tooltip: {
                pointFormat: 'Peers from {point.name}: <b>{point.percentage:.1f}%</b>'
            },
            credits: {
                enabled: false
            },
            series: [{
                name: '# peers',
                colorByPoint: true,
                data: []
            }]
        });

        donwload_speed_chart = Highcharts.chart('download-speed-chart', {
            chart: {
                type: 'solidgauge'
            },
            title: null,

            pane: {
                center: ['50%', '60%'],
                size: '100%',
                startAngle: -120,
                endAngle: 120,
                background: {
                    backgroundColor:
                        Highcharts.defaultOptions.legend.backgroundColor || '#EEE',
                    innerRadius: '60%',
                    outerRadius: '100%',
                    shape: 'arc'
                }
            },
            exporting: {
                enabled: false
            },
            tooltip: {
                enabled: false
            },
            // the value axis
            yAxis: {
                min: 0,
                max: 1024 * 1024,
                stops: [
                    [1, '#60e7a9']
                ],
                lineWidth: 0,
                tickWidth: 0,
                minorTickInterval: null,
                tickAmount: 2,
                title: {
                    text: '<p class="lead-text">Download speed</p>',
                    y:-120,
                    useHTML: true
                },
                labels: {
                    y: 16
                }
            },
            credits : {
                enabled: false
            },

            plotOptions: {
                solidgauge: {
                    dataLabels: {
                        y: 5,
                        borderWidth: 0,
                        useHTML: true
                    }
                }
            },
            series: [{
                name: 'Speed',
                data: [ {y: 0, name: 'B/s', converted:0}],
                dataLabels: {
                    format:
                        '<div style="text-align:center">' +
                        '<span style="font-size:25px">{point.converted}</span><br/>' +
                        '<span style="font-size:12px;opacity:0.4">{point.name}</span>' +
                        '</div>'
                },
                tooltip: {
                    valueSuffix: ' {point.name}'
                }
            }]
        })


        upload_speed_chart = Highcharts.chart('upload-speed-chart', {
            chart: {
                type: 'solidgauge'
            },

            title: null,

            pane: {
                center: ['50%', '60%'],
                size: '100%',
                startAngle: -120,
                endAngle: 120,
                background: {
                    backgroundColor:
                        Highcharts.defaultOptions.legend.backgroundColor || '#EEE',
                    innerRadius: '60%',
                    outerRadius: '100%',
                    shape: 'arc'
                }
            },

            exporting: {
                enabled: false
            },

            tooltip: {
                enabled: false
            },

            // the value axis
            yAxis: {
                min: 0,
                max: 100,
                stops: [
                    [1, '#a38be3']
                ],
                lineWidth: 0,
                tickWidth: 0,
                minorTickInterval: null,
                tickAmount: 2,
                title: {
                    text: '<p class="lead-text">Upload speed</p>',
                    y:-120,
                    useHTML: true
                },
                labels: {
                    y: 16
                }
            },
            credits : {
                enabled: false
            },

            plotOptions: {
                solidgauge: {
                    dataLabels: {
                        y: 5,
                        borderWidth: 0,
                        useHTML: true
                    }
                }
            },
            series: [{
                name: 'Speed',
                data: [ {y: 0, name: 'B/s'}],
                dataLabels: {
                    format:
                        '<div style="text-align:center">' +
                        '<span style="font-size:25px">{y}</span><br/>' +
                        '<span style="font-size:12px;opacity:0.4">{point.name}</span>' +
                        '</div>'
                },
                tooltip: {
                    valueSuffix: ' {point.name}'
                }
            }]
        })


    })

    var check_download_status_interval = null;
    var find_contributors_interval = null;


    function bytes_converter(size) {
        // 2**10 = 1024
        let power = 2 ** 10
        let n = 0
        let power_labels = {0: '', 1: 'K', 2: 'M', 3: 'G', 4: 'T'}
        while (size > power) {
            size = size / power
            n = n + 1
        }
        return {"value": size, "unit": power_labels[n] + 'B/s'}
    }

    function check_download_status() {

        $.ajax({
            url: "/api/download/status",
            method: 'GET',
            success: (data) => {
                $('#progress-bar-text').text("Downloading..")
                $('#progress-bar-text').removeClass("text-danger")
                if (data.status !== 'alive') {
                    $('#form-row').attr("hidden", true)
                    $('#loading-row').attr("hidden", true)
                    $('#progress-div').attr("hidden", true)
                    $('#result-row').removeAttr("hidden")
                    $('#back-home-button').removeAttr("hidden")
                    $('#lead-text').text("Download completed. Here some result.")
                    $('#download-error').attr('hidden', true)
                    $('#cancel-download-button').attr('hidden', true)

                    clearInterval(check_download_status_interval)
                    clearInterval(find_contributors_interval)
                }else{
                    let conversion = bytes_converter(data.download_speed)
                    donwload_speed_chart.series[0].data[0].update({y: data.download_speed, name: conversion['unit'], converted: conversion['value']})
                    conversion = bytes_converter(data.upload_speed)
                    upload_speed_chart.series[0].data[0].update({y: conversion['value'], name: conversion['unit']})
                }
            },
            error: (xhr, data) => {
                $('#progress-bar-text').text("Error getting info from the daemon! " + xhr.responseText)
                $('#progress-bar-text').addClass("text-danger")
            }
        })
    }


    function find_contributors() {
        $.ajax({
            url: "/api/stats/contributors",
            method: 'GET',
            success: (data) => {
                var peer_ids = []
                var received_blocks = []
                var country_code = []
                var country_code_n = []
                var country_code_idx = null;

                $.each(data, (idx, item) => {
                    peer_ids.push("..." + item.peer_id.slice(-7))
                    received_blocks.push(item.received_blocks)

                    if ('country_code' in item) {
                        country_code_idx = $.inArray(item.country_code, country_code)
                        if (country_code_idx === -1) {
                            country_code.push(item.country_code)
                            country_code_n.push(1)
                        } else {
                            country_code_n[country_code_idx]++;
                        }
                    }
                })

                $.each(peer_ids, (idx, item) => {
                    let updated = false
                    for (let index in received_blocks_chart.series) {
                        if (received_blocks_chart.series[index].name === item) {
                            received_blocks_chart.series[index].data[0].update({y: received_blocks[idx]})
                            updated = true
                            break;
                        }
                    }
                    if (!(updated)) {
                        received_blocks_chart.addSeries({name: item, data: [received_blocks[idx]]})
                    }
                })

                $.each(country_code, (idx, item) => {
                    let updated = false
                    for (let index in country_code_chart.series[0].data) {
                        if (country_code_chart.series[0].data[index].name === item) {
                            country_code_chart.series[0].data[index].update({y: country_code_n[idx]})
                            updated = true
                            break;
                        }
                    }
                    if (!(updated)) {
                        country_code_chart.series[0].addPoint({name: item, y: country_code_n[idx]})
                    }
                })

            },
            error: () => {
                $('#contributors-error').removeAttr("hidden")
            }
        })

    }


    $('#random-button').click(() => {
        //44mb file
        //$('#cid').val("QmeQtZfwuq6aWRarY9P3L9MWhZ6QTonDe9ahWECGBZjyEJ")
        //internet files -> 200mb
        $('#cid').val("QmbsZEvJE8EU51HCUHQg2aem9JNFmFHdva3tGVYutdCXHp")
    })

    $('#download-button').click(() => {
        $('#download-button-text').text("Loading..")
        $('#download-button-spinner').removeAttr("hidden")

        $.ajax({
            url: "/api/download/" + $('#cid').val(),
            method: 'GET',
            success: (data) => {
                $('#form-row').attr("hidden", true)
                $('#lead-text').text("Downloading " + $('#cid').val())
                $('#loading-row').removeAttr("hidden")
                $('#progress-div').removeAttr("hidden")
                $('#result-row').removeAttr("hidden")
                $('#download-error').attr('hidden', true)
                $('#cancel-download-button').removeAttr("hidden")

                if (data.obj_type != 'None' && data.obj_dimension != 'None') {
                    $('#file-info-text').text("Type: " + data.obj_type + ", Dimension: " + data.obj_dimension + " Byte")
                    $('#file-info-text').removeAttr("hidden")
                }

                check_download_status_interval = setInterval(check_download_status, 5000);
                find_contributors_interval = setInterval(find_contributors, 5000);
            },
            error: (xhr, data) => {
                $('#download-error').removeAttr('hidden')
                $('#download-error').text(xhr.responseText)
                $('#download-button-text').text("Download!")
                $('#download-button-spinner').attr("hidden", true)
                $('#file-info-text').attr("hidden", true)
            }
        })


    })

    $('#back-home-button').click(() => {
        window.location.href = "/"
    })

    $('#cancel-download-button').click(() => {
        $('#cancel-download-button-spinner').removeAttr("hidden")
        $.ajax({
            url: "/api/stop/" + $('#cid').val(),
            method: "GET",
            error: (xhr, data) => {
                $('#progress-bar-text').text("Something goes wrong stopping the download! " + xhr.responseText)
                $('#progress-bar-text').addClass("text-danger")
                clearInterval(check_download_status_interval)
                clearInterval(find_contributors_interval)
            }
        })
    })


</script>

</body>

</html>
